# Auto detect text files and perform LF normalization
* text=auto

# Go files
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf

# SQL files
*.sql text eol=lf

# JSON files
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Docker files
Dockerfile text eol=lf
docker-compose.yml text eol=lf

# Shell scripts
*.sh text eol=lf
